roles ['geo_primary_role']
external_url 'http://{{ gitlab_gui }}'
pages_external_url 'http://{{ gitlab_pages }}'
registry_external_url 'http://{{ gitlab_registry }}'
gitlab_rails['initial_root_password'] = '{{ gitlab_root_password }}'
gitlab_rails['geo_node_name'] = 'gitlab_{{ gitlab_region }}'
gitlab_rails['db_host'] = '{{ gitlab_database_endpoint }}'
gitlab_rails['db_database'] = '{{ gitlab_db_name }}'
gitlab_rails['db_username'] = '{{ gitlab_db_username }}'
gitlab_rails['db_password'] = '{{ gitlab_db_password }}'
gitlab_rails['db_sslmode'] = 'require'
gitlab_rails['db_adapter'] = 'postgresql'
gitlab_rails['redis_host'] = '{{ elasticache_endpoint }}'
gitlab_rails['redis_ssl'] = true
gitlab_rails['auto_migrate'] = true
gitlab_pages['enable'] = true
gitlab_pages['external_http'] = [':10080']
gitlab_pages['external_https'] = [':10443']
gitlab_pages['inplace_chroot'] = true
pages_nginx['enable'] = false
postgresql['enable'] = false
gitaly['enable'] = false
redis['enable'] = false
monitoring_role['enable'] = false
prometheus['enable'] = false
alertmanager['enable'] = false
registry['storage'] = {
  's3' => {
    'bucket' => '{{ s3_registry }}',
    'region' => '{{ gitlab_region }}',
  }
}
registry['health_storagedriver_enabled'] = false
registry['storage_delete_enabled'] = true
registry['debug_addr'] = '0.0.0.0:5001'
grafana['enable'] = true
grafana['disable_login_form'] = false
grafana['admin_password'] = '{{ grafana_admin_password }}'
grafana['datasources'] = [
  {
    'name' => 'GitLab Omnibus',
    'type' => 'prometheus',
    'access' => 'proxy',
    'url' => 'http://{{ monitoring_elb }}:9090'
  }
]
letsencrypt['enable'] = false
nginx['redirect_http_to_https'] = false
registry_nginx['redirect_http_to_https'] = false
nginx['server_names_hash_bucket_size'] = 128
node_exporter['listen_address'] = '0.0.0.0:9100'
gitlab_workhorse['prometheus_listen_addr'] = '0.0.0.0:9229'
gitlab_exporter['listen_address'] = '0.0.0.0'
sidekiq['listen_address'] = '0.0.0.0'
sidekiq['metrics_enabled'] = true
puma['listen'] = '0.0.0.0'
puma['exporter_enabled'] = true
puma['exporter_address'] = '0.0.0.0'
consul['enable'] = false
postgres_exporter['enable'] = true
postgres_exporter['host'] = '{{ gitlab_database_endpoint }}'
postgres_exporter['sslmode'] = 'require'
postgres_exporter['listen_address'] = '0.0.0.0:9187'
redis_exporter['enable'] = true
redis_exporter['listen_address'] = '0.0.0.0:9121'
redis_exporter['flags'] = {
  'redis.addr' => 'rediss://{{ elasticache_endpoint }}',
}

gitlab_rails['monitoring_whitelist'] = [
  '0.0.0.0/0',
  '127.0.0.0/8'
]
nginx['status']['options']['allow'] = [
  '0.0.0.0/0',
  '127.0.0.0/8'
]
gitlab_rails['prometheus_address'] = '{{ monitoring_elb }}:9090'

git_data_dirs({
  'default' => {
    "gitaly_address" => "tcp://{{ praefect_lb_url }}:2305",
    "gitaly_token" => '{{ praefect_external_token }}'
  }
})

gitlab_rails['backup_upload_remote_directory'] = '{{ s3_backup }}'
gitlab_rails['backup_upload_connection'] = {
  'provider' => 'AWS',
  'region' => '{{ gitlab_region }}',
  'use_iam_profile' => true
}

gitlab_rails['artifacts_enabled'] = true
gitlab_rails['artifacts_object_store_enabled'] = true
gitlab_rails['artifacts_object_store_direct_upload'] = true
gitlab_rails['artifacts_object_store_remote_directory'] = '{{ s3_artifacts }}'
gitlab_rails['artifacts_object_store_connection'] = {
  'provider' => 'AWS',
  'region' => '{{ gitlab_region }}',
  'use_iam_profile' => true
}

gitlab_rails['uploads_object_store_enabled'] = true
gitlab_rails['uploads_object_store_direct_upload'] = true
gitlab_rails['uploads_object_store_remote_directory'] = '{{ s3_uploads }}'
gitlab_rails['uploads_object_store_connection'] = {
  'provider' => 'AWS',
  'region' => '{{ gitlab_region }}',
  'use_iam_profile' => true
}

gitlab_rails['packages_enabled'] = true
gitlab_rails['packages_object_store_enabled'] = true
gitlab_rails['packages_object_store_remote_directory'] = '{{ s3_registry }}'
gitlab_rails['packages_object_store_direct_upload'] = true
gitlab_rails['packages_object_store_connection'] = {
  'provider' => 'AWS',
  'region' => '{{ gitlab_region }}',
  'use_iam_profile' => true
}

gitlab_rails['external_diffs_enabled'] = true
gitlab_rails['external_diffs_object_store_enabled'] = true
gitlab_rails['external_diffs_object_store_direct_upload'] = true
gitlab_rails['external_diffs_object_store_remote_directory'] = '{{ s3_diffs }}'
gitlab_rails['external_diffs_object_store_connection'] = {
  'provider' => 'AWS',
  'region' => '{{ gitlab_region }}',
  'use_iam_profile' => true
}

gitlab_rails['lfs_enabled'] = true
gitlab_rails['lfs_object_store_enabled'] = true
gitlab_rails['lfs_object_store_direct_upload'] = true
gitlab_rails['lfs_object_store_remote_directory'] = '{{ s3_lfs }}'
gitlab_rails['lfs_object_store_connection'] = {
  'provider' => 'AWS',
  'region' => '{{ gitlab_region }}',
  'use_iam_profile' => true
}

gitlab_rails['rack_attack_git_basic_auth'] = {
  'enabled' => true,
  'ip_whitelist' => ["127.0.0.1", "0.0.0.0"],
  'maxretry' => 20,
  'findtime' => 60,
  'bantime' => 3600
}
gitlab_rails['gitlab_default_can_create_group'] = true
gitlab_rails['gitlab_username_changing_enabled'] = true
gitlab_rails['gitlab_default_projects_features_wiki'] = true
gitlab_rails['gitlab_email_from'] = 'avishnia@redhat.com'

gitlab_rails['omniauth_enabled'] = false
gitlab_rails['omniauth_allow_single_sign_on'] = false
gitlab_rails['omniauth_block_auto_created_users'] = false
gitlab_rails['omniauth_auto_link_saml_user'] = false
