postgresql['enable'] = false
redis['enable'] = false
nginx['enable'] = false
puma['enable'] = false
sidekiq['enable'] = false
gitlab_workhorse['enable'] = false
grafana['enable'] = false
gitlab_exporter['enable'] = false
prometheus['enable'] = false
alertmanager['enable'] = false
consul['enable'] = false

praefect['enable'] = true
gitaly['enable'] = false
node_exporter['listen_address'] = '0.0.0.0:9100'
gitlab_rails['auto_migrate'] = false
praefect['listen_addr'] = '0.0.0.0:2305'
praefect['prometheus_listen_addr'] = '0.0.0.0:9652'
praefect['auth_token'] = '{{ praefect_external_token }}'
praefect['database_host'] = '{{ praefect_database_endpoint }}'
praefect['database_user'] = '{{ praefect_db_username }}'
praefect['database_password'] = '{{ praefect_db_password }}'
praefect['database_dbname'] = '{{ praefect_db_name }}'
praefect['postgres_queue_enabled'] = true
praefect['failover_enabled'] = true
praefect['auto_migrate'] = true
praefect['reconciliation_scheduling_interval'] = '5m'
#praefect['failover_election_strategy'] = 'sql'
praefect['failover_election_strategy'] = 'per_repository'
praefect['virtual_storages'] = {
  'default' => {
{% for host in groups['gitaly'] %}
    '{{ host }}' => {
      'address' => 'tcp://{{ host }}:8075',
      'token'   => '{{ praefect_internal_token }}',
    },
{% endfor %}
  }

}
