postgresql['enable'] = false
redis['enable'] = false
nginx['enable'] = false
puma['enable'] = false
sidekiq['enable'] = false
gitlab_workhorse['enable'] = false
grafana['enable'] = false
gitlab_exporter['enable'] = false
prometheus['enable'] = false
alertmanager['enable'] = false
consul['enable'] = false

praefect['enable'] = true
gitaly['enable'] = false
node_exporter['listen_address'] = '0.0.0.0:9100'
gitlab_rails['auto_migrate'] = false
praefect['listen_addr'] = '0.0.0.0:2305'
praefect['prometheus_listen_addr'] = '0.0.0.0:9652'
praefect['auth_token'] = '{{ praefect_external_token }}'
praefect['database_host'] = 'gitlab-storage.czgpt1qchni4.us-east-1.rds.amazonaws.com'
praefect['database_user'] = 'praefect'
praefect['database_password'] = 'compaq123'
praefect['database_dbname'] = 'praefect'
praefect['postgres_queue_enabled'] = true
praefect['failover_enabled'] = true
praefect['auto_migrate'] = true
praefect['failover_election_strategy'] = 'sql'
praefect['virtual_storages'] = {
  'default' => {
    'ip-10-0-53-228.ec2.internal' => {
      'address' => 'tcp://ip-10-0-53-228.ec2.internal:8075',
      'token'   => '{{ gitaly_internal_token }}',
    },
    'ip-10-0-62-20.ec2.internal' => {
      'address' => 'tcp://ip-10-0-62-20.ec2.internal:8075',
      'token'   => '{{ gitaly_internal_token }}',
    },
  }
}
