postgresql['enable'] = false
redis['enable'] = false
nginx['enable'] = false
puma['enable'] = false
sidekiq['enable'] = false
gitlab_workhorse['enable'] = false
grafana['enable'] = false
gitlab_exporter['enable'] = false
prometheus['enable'] = false
alertmanager['enable'] = false
consul['enable'] = false

praefect['enable'] = true
gitaly['enable'] = false
node_exporter['listen_address'] = '0.0.0.0:9100'
gitlab_rails['auto_migrate'] = false
praefect['listen_addr'] = '0.0.0.0:2305'
praefect['prometheus_listen_addr'] = '0.0.0.0:9652'
praefect['auth_token'] = '{{ praefect_external_token }}'
praefect['database_host'] = '${db_ip}'
praefect['database_user'] = '${ praefect_sql_user }'
praefect['database_password'] = '${ praefect_sql_password }'
praefect['database_dbname'] = '${ praefect_database }'
praefect['postgres_queue_enabled'] = true
praefect['failover_enabled'] = true
praefect['auto_migrate'] = true
praefect['failover_election_strategy'] = 'sql'
praefect['virtual_storages'] = {
  'default' => {
    '${ gitaly-1 }' => {
      'address' => 'tcp://${ gitaly-1 }:8075',
      'token'   => '{{ gitaly_internal_token }}',
    },
    '${ gitaly-2 }' => {
      'address' => 'tcp://${ gitaly-2 }:8075',
      'token'   => '{{ gitaly_internal_token }}',
    },
  }
}
